{% extends 'ffinderapp/base.html' %}
{% load static %}
{% block content %}

<section class="showcase">
    <main>
        <!-- main content of the page -->
        <video src="{% static 'media/video1.mp4' %}" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="text">
            <h2>Welcome to Football Finder</h2>
            <h3>Your ultimate destination for finding football players and teams</h3>
            <a href="{% url 'all_listings' %}">find clubs...</a>
        </div>
        {% if not user.is_authenticated %}
            <ul class="social">
                <li><a href="{% url 'signup' %}"><img src="{% static 'media/signup.png' %}"></a></li>
                <li><a href="{% url 'login' %}"><img src="{% static 'media/login.png' %}"></a></li>
            </ul>
        {% endif %}
    </main>
</section>

{% endblock %}
