{% extends 'ffinderapp/base.html' %}
{% load static %}
{% block content %}

<section class="showcase">
    <main>
        <!-- main content of the page -->
        <video src="{% static 'media/video1.mp4' %}" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="text">
            <h2>Welcome to Football Finder</h2>
            <h3>Your ultimate destination for finding football players and teams</h3>
            <p>Whether you're a player looking for a team or a team in need of players, Football Finder is here to help. With our comprehensive search functionality, you can easily find the perfect match for your football needs. Get started today and take your game to the next level!</p>
            <a href="{% url 'all_listings' %}">find clubs...</a>
        </div>
        <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
    </main>
</section>

{% endblock %}
