{% extends 'ffinderapp/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <img src="{% if listing.photo %}{{ listing.photo.url }}{% else %}{% static 'media/logo.jpeg' %}{% endif %}" class="card-img-top" alt="Listing Image">
        <div class="card-body">
          <h5 class="card-title">{{ listing.title }}</h5>
          <p class="card-text">{{ listing.description }}</p>
          <p class="card-text">{{ listing.positions }}</p>
          <p class="card-text"><small class="text-muted">Location: {{ listing.location }}</small></p>
          <p>Posted By: {{CustomUser.user.username}}</p>
          {% if listing.user_profile %}
                <a href="{% url 'profile_detail_view' username=listing.user_profile.username %}">View Profile</a>
            {% endif %}
          
          <span class="border border-5"></span>
          
          <!-- Add more details here -->
        </div>
        <div class="card-footer">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">
            Contact Poster
          </button>
        </div>
      </div>
      <button class="btn btn-primary mt-3" onclick="goBack()"> previous page</button>
    </div>
  </div>
</div>


<!-- Modal -->


<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}
