<!-- player_listing_detail.html -->

{% extends 'ffinderapp/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <img src="{% if player_listing.photo %}{{ player_listing.photo.url }}{% else %}{% static 'media/default.png' %}{% endif %}" class="card-img-top" alt="Player Listing Image">
        <div class="card-body">
          <h5 class="card-title">{{ player_listing.name }}</h5>
          <p class="card-text">{{ player_listing.position }}</p>
          <p class="card-text">{{ player_listing.description }}</p>
          <p class="card-text"><small class="text-muted">Location: {{ player_listing.location }}</small></p>
          <!-- Add more details here -->
        </div>
        {% if user.is_authenticated %}
        <div class="card-footer">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" onclick="location.href='tel:{{ playerlisting.contact_number }}'">
            Call Poster
        </button>
        
        <!-- If you want to send a text message -->
        <a href="sms:{{ listing.contact_number }}" class="btn btn-primary">Text Poster</a>
      </div>
      {% endif %}
      </div>
        </div>
      </div>
      <button class="btn btn-primary mt-3" onclick="goBack()">previous page </button>
    </div>
  </div>
</div>


<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}
