{% extends 'ffinderapp/base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if user.profile.photo %}
                                <img src="{{ user.profile.photo.url }}" alt="{{ user.username }}" class="rounded-circle p-1 bg-primary" width="110">
                            {% else %}
                                <img src="{% static 'media/default.png' %}" alt="{{ user.username }}" class="rounded-circle p-1 bg-primary" width="110">
                            {% endif %}
                            <div class="mt-3">
                                <h4>{{ user.username }}</h4>
                                {% if user.profile.date_of_birth %}
                                    <p class="text-secondary">Date of Birth: {{ user.profile.date_of_birth }}</p>
                                {% endif %}
                                {% if user.profile.address %}
                                    <p class="text-secondary">Address: {{ user.profile.address }}</p>
                                {% endif %}
                                {% if user.profile.city %}
                                    <p class="text-secondary">City: {{ user.profile.city }}</p>
                                {% endif %}
                                <!-- Additional profile information goes here -->
                            </div>
                        </div>
                        <hr class="my-4">
                        <ul class="list-group list-group-flush">
                            <!-- Replace static links with user's Twitter, Instagram, Facebook -->
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Twitter</h6>
                                <span class="text-secondary">{{ user.profile.twitter }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Instagram</h6>
                                <span class="text-secondary">{{ user.profile.instagram }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Facebook</h6>
                                <span class="text-secondary">{{ user.profile.facebook }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- Add the form to update user details here -->
                <!-- Adjust this part according to your form fields -->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">User Profile</legend>
                        {{ u_form|crispy }}
                    </fieldset>
                    {% if user.player %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Player Profile</legend>
                            {{ p_form|crispy }}
                        </fieldset>
                    {% endif %}
                    {% if user.team %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Team Profile</legend>
                            {{ t_form|crispy }}
                        </fieldset>
                    {% endif %}
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update</button>
                    </div>
                </form>
                <!-- Add the project status section here -->
                <!-- Adjust this part according to your model fields -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}
